body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}

.icon {
  max-height: 70px; 
  max-width: 70px;
}

.owner-name {
  color: dimgray;
}

.home {
  background-image: url(components/home3.jpg);
  background-size: cover;
}

body, html {
  height: 100%;
  }
  .bg {
  background-image: url(components/home3.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.mask {
  background-color: rgba(255, 255, 255, 0.199);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.py-code{
  color: rgb(27, 0, 27);
  font-weight:bolder; 
  font-style:italic;
  font-size:14px;
  padding-top: 10px;
}

.py-def {
  color: rgb(185, 3, 155);
}

.py-hwf{
  color: rgb(14, 4, 155);
}

.py-none{
  color: rgb(185, 3, 155);
}

.py-print {
  color: rgb(60, 0, 139);
}

.py-hwt {
  color: darkgreen;
}


/* .row-custom{
  background-color: aqua;
}

.col-custom{
  background-color: bisque;
}

.experience-header{
  background-color: rgb(255, 174, 0);
} */
