code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}

.icon {
  max-height: 70px; 
  max-width: 70px;
}

.painting {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.center-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.owner-name {
  color: rgb(0, 0, 0);
}

.owner-name.withhover:hover  {
  color: rgb(85, 0, 78);
  transition-duration: 0.2s;
}

body, html {
  height: 100%;
  }


.py-code{
  color: rgb(27, 0, 27);
  font-weight:bolder; 
  font-style:italic;
  font-size:14px;
  padding-top: 10px;
}

.py-def {
  color: rgb(185, 3, 155);
}

.py-hwf{
  color: rgb(14, 4, 155);
}

.py-none{
  color: rgb(185, 3, 155);
}

.py-print {
  color: rgb(60, 0, 139);
}

.py-hwt {
  color: darkgreen;
}

h2.resume_title {
  color: darkslategrey;
}


.img-thumbnail {
  max-width: 80%;
  height: auto;
}


header {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.wrapper {
  column-count: 1;
  column-gap: 50px;
  padding: 50px;
}

.personal-photo {
  float: left;
  width: 50%;
  shape-outside: url(assets/personal_image.jpg);
  shape-margin:20px;
  margin-right: 20px;
  margin-bottom: 20px;
}


body {
background-color: whitesmoke;
}


.bg {
  margin: 0;
  background-image: url(components/home3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
}


.navbar:hover {
  background-color: #3729758c;
  transition-duration: 0.4s;

}

.nav-link:hover {
  background-color: #3729758c;
  color:#f3f3f3;
  transition-duration: 0.4s;

}


.row-resume {
  background-color: #ffffff;
}

.resume-margine {
  margin: 2px;
}

.resume {
  background-color: rgba(253, 238, 238, 0.5);
}

.projects {
  background-color: rgba(253, 238, 238, 0.5);
}
.project-image {
  border: 1px solid rgb(27, 27, 27);
}
.project {
  background-color: #f3f3f3;
}

.art {
  background-color: rgba(253, 238, 238, 0.5);
}

.about {
  background-color: rgba(253, 238, 238, 0.5);
}

.home {
  background-color: rgba(254, 240, 255, 0.541);
}

.home-div {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
}



.painting-div {
  position:relative;
  height: 100%;
  width:100%;
}

.center-home {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}